<plugin>
	<nom>GASAP</nom>
	<auteur>Sébastien Denooz</auteur>
	<licence>GNU/GLP</licence>
	<version>1.0</version>
	<version_base>0.1</version_base>
	
	<description>
	Gasap : un plugin de gestion des G.roupes d'A.chat S.olidaire de l'A.griculture P.aysane
	G&egrave;re les groupes et l'inscruption aux groupes.
	</description>
	<etat>stable</etat>
	<icon>images/gasap-24.png</icon>
	<prefix>gasap</prefix>

	<install>base/gasap_upgrade.php</install>
	
	<bouton id="gasap" parent="menu_edition" titre="gasap" action="gasap">
		<titre>gasap</titre>
		<url>gasap</url>
		<icone>images/gasap-16.png</icone>
	</bouton>

	<pipeline>
		<nom>header_prive</nom>
		<inclure>gasap_pipelines.php</inclure>
	</pipeline>
	
	<pipeline>
		<nom>declarer_tables_principales</nom>
		<inclure>base/tables_principales.php</inclure>
		<action>tables_principales</action>
	</pipeline>
	
	<pipeline>
		<nom>declarer_tables_interfaces</nom>
		<inclure>base/tables_interfaces.php</inclure>
		<action>tables_interfaces</action>
	</pipeline>
	
	<pipeline>
		<nom>declarer_tables_auxiliaires</nom>
		<inclure>base/tables_auxiliaires.php</inclure>
		<action>tables_auxiliaires</action>
	</pipeline>
	
</plugin>
